<% include ../partials/meta.ejs %>
<title>Recipes</title>
<% include ../partials/header.ejs %>

<div class="row ">
  <div class="col-md-9">

    <!-- BEGIN Accordion-->
    <div class="accordion" id="recipeList">   
      
    <% recipes.forEach( bog => { %>

      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#r<%= bog.recipe_id %>">
              <%= bog.title %>
            </button>
          </h5>
        </div>
        <div id="r<%= bog.recipe_id %>" class="collapse" data-parent="#recipeList">
          <div class="card-body">
            <strong>Ingredients:</strong> <%= bog.ingredients %>
            <hr>
            <strong>Directions:</strong> <%= bog.directions %>
          </div>          
        </div>
      </div>

  <% }) %>
  <!-- END Card-->

    </div>
    <!-- END Accordion-->


  </div>
</div>

<script src="static/js/ajax_forms.js"></script>

<% include ../partials/footer.ejs %>